*.gz
*.aux
.DS_Store
*.log
*.out
*.sublime-project
*.sublime-workspace
/executive/short/shameel_arafin_executive_resume_short.fls
/executive/short/shameel_arafin_executive_resume_short.fdb_latexmk
/executive/short/shameel_arafin_executive_resume_short.dvi
